{#
/**
 * @file
 * Default theme implementation of a highchart container used to render charts.
 *
 * @see template_preprocess_highchart()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes }}></div>
